<ion-content>
  <form [formGroup]="formLogin">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Ingresar</h3>
          </div>
          <div padding>
            <ion-item class="input-gral">
              <ion-label>
                <span class="fa fa-id-card"></span>
              </ion-label>
              <ion-input type="text" placeholder="Correo" formControlName="email" required email></ion-input>
            </ion-item>

            <ion-item class="input-gral">
              <ion-label>
                <span class="fa fa-id-card"></span>
              </ion-label>
              <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button ion-button round full type="submit" [disabled]="formLogin.invalid" (click)="onSubmit()">Ingresar</ion-button>
            <ion-button ion-button round full type="submit" (click)="register()">Registrar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>