<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-round-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formRegister">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Registrar</h3>
          </div>
          <div padding>
            <ion-item class="input-gral">
              <ion-label>
                <span class="fa fa-id-card"></span>
              </ion-label>
              <ion-input type="text" placeholder="Nombres" formControlName="name" required></ion-input>
            </ion-item>

            <ion-item class="input-gral">
              <ion-label>
                <span class="fa fa-id-card"></span>
              </ion-label>
              <ion-input type="text" placeholder="Apellidos" formControlName="last_name" required></ion-input>
            </ion-item>

            <ion-item class="input-gral">
              <ion-label>
                <span class="fa fa-id-card"></span>
              </ion-label>
              <ion-input type="number" placeholder="Identificacion" formControlName="identification" required></ion-input>
            </ion-item>

            <ion-item class="input-gral">
              <ion-label>
                <span class="fa fa-id-card"></span>
              </ion-label>
              <ion-input type="number" placeholder="Telefono" formControlName="phone" required></ion-input>
            </ion-item>

            <ion-item class="input-gral">
              <ion-label>
                <span class="fa fa-id-card"></span>
              </ion-label>
              <ion-input type="text" placeholder="Correo" formControlName="email" required email></ion-input>
            </ion-item>

            <ion-item class="input-gral">
              <ion-label>
                <span class="fa fa-id-card"></span>
              </ion-label>
              <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
            </ion-item>

            <ion-item class="input-gral">
              <ion-label>
                <span class="fa fa-id-card"></span>
              </ion-label>
              <ion-input type="password" placeholder="Confirmar Contraseña" formControlName="confirpassword"></ion-input>
            </ion-item>

            <ion-item class="input-gral">
              <ion-label>
                <span class="fa fa-address-card"></span>
                <p>Genero</p>
              </ion-label>
              <ion-select formControlName="gender" ok-text="Aceptar" cancel-text="Cancelar">
                <ion-select-option value="Mujer">Mujer</ion-select-option>
                <ion-select-option value="Hombre">Hombre</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item class="input-gral">
              <ion-label>
                <span class="fa fa-address-card"></span>
                <p>Pais</p>
              </ion-label>
              <ion-select ok-text="Aceptar" cancel-text="Cancelar">
                <ion-select-option value="Colombia">Colombia</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item class="input-gral">
              <ion-label>
                <span class="fa fa-address-card"></span>
                <p>Departamento</p>
              </ion-label>
              <ion-select ok-text="Aceptar" cancel-text="Cancelar">
                <ion-select-option value="Cundinamarca">Cundinamarca</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item class="input-gral">
              <ion-label>
                <span class="fa fa-address-card"></span>
                <p>Municipio</p>
              </ion-label>
              <ion-select formControlName="municipality" ok-text="Aceptar" cancel-text="Cancelar">
                <ion-select-option value="Bogotá">Bogotá</ion-select-option>
              </ion-select>
            </ion-item>

          </div>
          <div padding>
            <ion-button type="submit" ion-button round full [disabled]="formRegister.invalid" (click)="onSubmit()">Ingresar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>