<ion-header>
  <ion-toolbar>
    <ion-title>Registros</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">

      <ion-card *ngFor="let item of data let i = index">
        <ion-item>
          <ion-buttons slot="start">
            <ion-button ion-button icon-only (click)="editUser(item, i)">
              <ion-icon md="md-create"></ion-icon>
            </ion-button>
          </ion-buttons>

          <p>{{item.name}} {{item.last_name}}</p>

          <ion-buttons slot="end">
            <ion-button ion-button icon-only (click)="deleteUser(item, i)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>

        </ion-item>

        <ion-card-content>
          <ion-item>
            <ion-label>Telefono: {{item.identification}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Identificacion: {{item.identification}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Correo: {{item.email}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Genero: {{item.gender}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Municipio: {{item.municipality}}</ion-label>
          </ion-item>

        </ion-card-content>
      </ion-card>

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">

        <ion-tab-button (click)="register()">
          <ion-icon name="people"></ion-icon>
          <ion-label>Crear usuario</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="email()">
          <ion-icon name="mail"></ion-icon>
          <ion-label>Enviar correo</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="logout()">
          <ion-icon name="exit"></ion-icon>
          <ion-label>Cerrar Sesion</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>