<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-round-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formEmail">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Enviar Correo</h3>
            <p>Solo enviar a correos gmail</p>
          </div>
          <div padding>
            <ion-item class="input-gral">
              <ion-label>
                <span class="fa fa-id-card"></span>
              </ion-label>
              <ion-input type="text" placeholder="Para" formControlName="to" required email></ion-input>
            </ion-item>

            <ion-item class="input-gral">
              <ion-label>
                <span class="fa fa-id-card"></span>
              </ion-label>
              <ion-input type="text" placeholder="Asunto" formControlName="subject" required></ion-input>
            </ion-item>

            <ion-item class="input-gral">
              <ion-label>
                <span class="fa fa-id-card"></span>
              </ion-label>
              <ion-textarea type="text" placeholder="mensaje" formControlName="body" required></ion-textarea>
            </ion-item>

          </div>
          <div padding>
            <ion-button type="submit" ion-button round full [disabled]="formEmail.invalid" (click)="onSubmit()">Enviar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>